<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibegu.dalao.mapper.BanAccountMapper">
  <resultMap id="BaseResultMap" type="com.ibegu.dalao.domain.BanAccount">
    <id column="bid" jdbcType="BIGINT" property="bid" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="bannedTime" jdbcType="TIMESTAMP" property="bannedtime" />
    <result column="interval" jdbcType="VARCHAR" property="interval" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="releaseTime" jdbcType="TIMESTAMP" property="releasetime" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, reason, bannedTime, `interval`, `uid`, note, releaseTime, user_type
  </sql>
  <select id="selectByExample" parameterType="com.ibegu.dalao.domain.BanAccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ban_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ban_account
    where bid = #{bid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ban_account
    where bid = #{bid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ibegu.dalao.domain.BanAccountExample">
    delete from ban_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ibegu.dalao.domain.BanAccount">
    insert into ban_account (bid, reason, bannedTime, 
      `interval`, `uid`, note, 
      releaseTime, user_type)
    values (#{bid,jdbcType=BIGINT}, #{reason,jdbcType=VARCHAR}, #{bannedtime,jdbcType=TIMESTAMP}, 
      #{interval,jdbcType=VARCHAR}, #{uid,jdbcType=BIGINT}, #{note,jdbcType=VARCHAR}, 
      #{releasetime,jdbcType=TIMESTAMP}, #{userType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ibegu.dalao.domain.BanAccount">
    insert into ban_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="bannedtime != null">
        bannedTime,
      </if>
      <if test="interval != null">
        `interval`,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="releasetime != null">
        releaseTime,
      </if>
      <if test="userType != null">
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="bannedtime != null">
        #{bannedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="interval != null">
        #{interval,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="releasetime != null">
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ibegu.dalao.domain.BanAccountExample" resultType="java.lang.Long">
    select count(*) from ban_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ban_account
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=BIGINT},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.bannedtime != null">
        bannedTime = #{record.bannedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.interval != null">
        `interval` = #{record.interval,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        `uid` = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.releasetime != null">
        releaseTime = #{record.releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ban_account
    set bid = #{record.bid,jdbcType=BIGINT},
      reason = #{record.reason,jdbcType=VARCHAR},
      bannedTime = #{record.bannedtime,jdbcType=TIMESTAMP},
      `interval` = #{record.interval,jdbcType=VARCHAR},
      `uid` = #{record.uid,jdbcType=BIGINT},
      note = #{record.note,jdbcType=VARCHAR},
      releaseTime = #{record.releasetime,jdbcType=TIMESTAMP},
      user_type = #{record.userType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ibegu.dalao.domain.BanAccount">
    update ban_account
    <set>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="bannedtime != null">
        bannedTime = #{bannedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="interval != null">
        `interval` = #{interval,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=BIGINT},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="releasetime != null">
        releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
    </set>
    where bid = #{bid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ibegu.dalao.domain.BanAccount">
    update ban_account
    set reason = #{reason,jdbcType=VARCHAR},
      bannedTime = #{bannedtime,jdbcType=TIMESTAMP},
      `interval` = #{interval,jdbcType=VARCHAR},
      `uid` = #{uid,jdbcType=BIGINT},
      note = #{note,jdbcType=VARCHAR},
      releaseTime = #{releasetime,jdbcType=TIMESTAMP},
      user_type = #{userType,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=BIGINT}
  </update>
</mapper>